.themeSection {
  background-image: url('../../images/theme-placeholder.jpeg');
  background-size: cover;
  width: 80%;
  border: 1px solid #cfe1e8;
  margin: 60px auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &-navigation {
    &:hover {
      cursor: pointer;
    }
    position: absolute;
    &-left {
      left: 25px;
    }
    &-right {
      right: 25px;
    }
  }

  &-title {
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
    perspective: 1200px;
    position: absolute;
    right: 30px;
    margin: 0;
    margin-top: 20px;
    top: 0;
  }

  &-subtitle {
    color: black;
    font-size: 1.5rem;
    text-transform: uppercase;
    perspective: 1200px;
    position: absolute;
    left: 30px;
    margin: 0;
    margin-top: 20px;
    top: 0;
  }

  &-sellingPoints {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    &-navigation {
      margin-top: auto;
      position: absolute;
      bottom: 10px;
      display: flex;
    }
  }
  
}