.themeSection {
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.1);
  background-blend-mode: darken;
  width: 80%;
  border: 1px solid #cfe1e8;
  margin: 60px auto;
  min-height: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  &-arrow {
    color: white;
  }

  &-navigation {
    position: absolute;

    &:hover {
      cursor: pointer;
    }

    &-left {
      left: 25px;
      cursor: pointer;
      transition-duration: 0.2s;
      &:hover {
        color: #67ddbf;
      }

      @media only screen and (max-width: 500px) {
        left: 10px;
      }
    }

    &-right {
      right: 25px;
      cursor: pointer;
      transition-duration: 0.2s;
      &:hover {
        color: #67ddbf
      }

      @media only screen and (max-width: 500px) {
        right: 10px;
      }
    }
  }

  &-title {
    color: black;
    font-size: 2.5rem;
    text-transform: uppercase;
    perspective: 1200px;
    position: absolute;
    right: 30px;
    margin: 0;
    margin-top: 20px;
    top: 0;
    color: #fff;

    @media only screen and (max-width: 700px) {
      font-size: 1.5rem;
      right: 10px;
    }

    @media only screen and (max-width: 500px) {
      font-size: 1.0rem;
      right: 10px;
    }
  }

  &-subtitle {
    color: black;
    font-size: 1.8rem;
    text-transform: uppercase;
    perspective: 1200px;
    position: absolute;
    left: 30px;
    margin: 0;
    margin-top: 20px;
    top: 0;
    color: #fff;

    @media only screen and (max-width: 700px) {
      font-size: 1.5rem;
      width: 80%;
      left: 10px;
    }

    @media only screen and (max-width: 500px) {
      font-size: 1.0rem;
      width: 70%;
      left: 10px;
    }
  }

  &-sellingPoints {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    color: #fff;
    font-weight: 500;
    max-width: 80%;

    &-text {
      font-size: 24px;
      font-weight: 500;
      letter-spacing: 1px;

      @media only screen and (max-width: 700px) {
        font-size: 1.2rem;
        text-align: center;
      }

      @media only screen and (max-width: 500px) {
        font-size: 1.0rem;
      }
    }

    &-navigation {
      margin-top: auto;
      position: absolute;
      bottom: 10px;
      display: flex;
    }

    @media only screen and (max-width: 450px) {
      max-width: 70%;
      text-align: center;
    }
  }
  
}