.landingInfo {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  margin: 50px;
  margin-top: 0;
  font-family: 'Roboto', sans-serif;


  &-header {
    font-size: 72px; 
    margin-bottom: 20px;

    // Ipad Pro width
    @media only screen and (max-width: 1200px) {
      font-size: 30px;
    }

    // Mobile width
    @media only screen and (max-width: 450px) {
      margin-top: 0;
    }
  }

  &-list {
    color: purple;
    text-align: left;
  }

  &-bodyText {
    font-size: 26px;
    font-weight: 400;
    margin-top: 0;

    // Ipad Pro width
    @media only screen and (max-width: 1200px) {
      font-size: 22px;
    }

     // Mobile width
     @media only screen and (max-width: 450px) {
      margin-top: 0;
    }
  }
}