.landingInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 600px;
  margin: 50px;

  &-header {
    font-size: 40px; 
  }

  &-bodyText {
    font-size: 20px;
  }
}