.admission {
  min-height: 80vh;
  padding: 40px;
  padding-top: 60px;

  @media only screen and (max-width: 500px) {
    text-align: center;
  }

  &-header {
    font-size: 40px;

    @media only screen and (max-width: 500px) {
      font-size: 30px;
    }
  }
}