.header {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid darkgray;
  display: flex;
  align-items: center;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 100;
  // Light blur effect
  -webkit-backdrop-filter: saturate(180%) blur(15px);
  backdrop-filter: saturate(180%) blur(15px);

  &-logo {
    margin: 10px;
    height: 75%;
  }

  &-link {
    text-decoration: none;
    color: black;
  }
}

