.vid-insert {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    min-height: 700px;
    min-width: 100%;
    opacity: 0.5;
    object-fit: cover;

    // medium
    @media only screen and (max-width: 1200px) {
        min-height: 800px;
    }

    // Mobile width
    @media only screen and (max-width: 700px) {
        margin-top: 60px;
        margin-bottom: 500px;
        min-height: 400px;
    }
}

.video-player {
    position: relative;
}

.landing-information {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    top: 15%;
    z-index: 5;

    @media only screen and (max-width: 700px) {
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    
}